<div id="dock"> 

<style>
#dock {
    display: flex;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: -1px;
    background-color: #27272a;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 5px;
    height:2.5rem;
}

a.dock:hover {
    background: rgba(255,255,255,0.5);
    height:1.75rem;
    border-radius: 4px;
}

</style>

<a class="dock" href="https://fedi.thechangebook.org/wiki/thechangebook/Aide(20)TCB(20)Hubzilla/Home">
<img title="Wiki aide" style="margin-left:5px;margin-right:5px;max-height: 1.45rem;" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/help.png">
</a>

<a class="dock" href="https://fedi.thechangebook.org/chat/thechangebook/1" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Clavardage aide" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/chat.png">
</a>

<a class="dock" href="https://pad.thechangebook.org/" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Ouvrir un pad" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/pad.png">
</a>

<a class="dock" href="https://outils.thechangebook.org/draw/" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Ouvrir un diagramme" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/diagram.png">
</a>

<a class="dock" href="https://outils.thechangebook.org/mindmap/" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Créer une carte heuristique" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/carte_heuristique.png">
</a>

<a class="dock" href="https://tcb.pm" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Raccourcir des url" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/rs-short.png">
</a>

<a class="dock" href="https://radio.thechangebook.org/embed.php" title="Écouter la webradio" onclick="open('https://radio.thechangebook.org/embed.php', 'Popup', 'scrollbars=0,resizable=0,height=55px,width=210px,location=no,toolbar=no,menubar=no,status=no,fullscreen=yes'); return false;" ><img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/radio.png"></a>

<a class="dock" href="https://tube.thechangebook.org/" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Voir ou déposer une vidéo" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/Vid%C3%A9os.png">
</a>

<a class="dock" href="https://fedi.thechangebook.org/articles/thechangebook/?cat=Actus+TCB" target="_blank">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Les actus de TCB" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/news.png">
</a>

<a class="dock" href="https://fedi.thechangebook.org/articles/thechangebook/don">
<img style="margin-left:5px;margin-right:5px;max-height: 1.55rem;" title="Soutenir TheChangeBook" src="https://gitlab.com/dandauge/icons-set-for-hubzilla/-/raw/main/soutenir.png">
</a>

</div>
